body {
    margin: 0;
}

header {
    text-align: center;
    background-color: black;
    color: rgb(218, 4, 4);
    padding: 20px;
}

main {
    text-align: center;
    padding: 200px 20px;
    color: rgb(223, 17, 17);
    font-size: larger;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}